bitbake.lock
build
sources/*
deploy/
!sources/layers.txt
conf/auto.conf
conf/bblayers.conf
conf/sanity_info
conf/site.conf
pseudodone
git_config
subversion_config/
package-depends.dot
pn-depends.dot
task-depends.dot
tags
